* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  background-color: #fff;
  height: 100vh;
  padding: 1rem;
  width: 100vw;
}

@media screen and (min-width: 992px) {
  .content {
    border-radius: 1rem;
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
  }
}
